<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://5.139.217.156:5432/edu_forms_test</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <mapping class="ru.cmo.edu.data.entity.ActivityTypeEntity"/>
        <mapping class="ru.cmo.edu.data.entity.CredentialsEntity"/>
        <mapping class="ru.cmo.edu.data.entity.DocumentFormatEntity"/>
        <mapping class="ru.cmo.edu.data.entity.EduEntity"/>
        <mapping class="ru.cmo.edu.data.entity.EduFormDataEntity"/>
        <mapping class="ru.cmo.edu.data.entity.EduKindEntity"/>
        <mapping class="ru.cmo.edu.data.entity.EduStatusEntity"/>
        <mapping class="ru.cmo.edu.data.entity.EduTypeEntity"/>
        <mapping class="ru.cmo.edu.data.entity.FileEntity"/>
        <mapping class="ru.cmo.edu.data.entity.FormEntity"/>
        <mapping class="ru.cmo.edu.data.entity.FormTypeEntity"/>
        <mapping class="ru.cmo.edu.data.entity.ManagementAgencyEntity"/>
        <mapping class="ru.cmo.edu.data.entity.ManagementAgencyActivityEntity"/>
        <mapping class="ru.cmo.edu.data.entity.MessageEntity"/>
        <mapping class="ru.cmo.edu.data.entity.MunicipalityEntity"/>
        <mapping class="ru.cmo.edu.data.entity.MunicipalityFormDataEntity"/>
        <mapping class="ru.cmo.edu.data.entity.OwnershipTypeEntity"/>
        <mapping class="ru.cmo.edu.data.entity.QueryEntity"/>
        <mapping class="ru.cmo.edu.data.entity.QueryAutocompletePartEntity"/>
        <mapping class="ru.cmo.edu.data.entity.QueryHeadPartEntity"/>
        <mapping class="ru.cmo.edu.data.entity.RegionEntity"/>
        <mapping class="ru.cmo.edu.data.entity.RegionFormDataEntity"/>
        <mapping class="ru.cmo.edu.data.entity.SettlementTypeEntity"/>
        <mapping class="ru.cmo.edu.data.entity.DetailedFormStatisticsEntity"/>
        <mapping class="ru.cmo.edu.data.entity.DetailedMunicipalityFormStatisticsEntity"/>
        <mapping class="ru.cmo.edu.data.entity.FormStatisticsEntity"/>
        <mapping class="ru.cmo.edu.data.entity.MunicipalityFormStatisticsEntity"/>
        <mapping class="ru.cmo.edu.data.entity.SummaryFormStatisticsEntity"/>

        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>